body{
  margin: 0;
  overflow: hidden;
}

.fundo{
  background-image: url(../assets/fundoSemSimbolo.svg);
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  z-index: 2;
}

.menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 4px 0;
}

.nav li a {
  font-family: "Gabriela",serif;
  color: white;
  font-size: 17px;
  text-decoration: none;
  transition: 0.75s ease-in-out;
}

.nav li a:hover {
  font-weight: bold;
  color: gold;
  font-size: 20px;
}

.menu-bg, .menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 40px 0 65px 65px;
  background: radial-gradient(circle, crimson, crimson);
  opacity: 0.5;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}


.cardUsuario{
  width: 15vw;
  height: 10vh;

  display: flex;
  position: absolute;
  margin-top: 73vh;
  justify-content: flex-end;
}

.cardUsuario p{
  color: #eeeeee;
  font-family: "Gabriela", serif;
}

.titulo{
  position: absolute;
  display: flex;
  color: white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.conteiner{
  display: flex;
  z-index: 10;
}

.postar{
  height: 75vh;
  width: 45vw;
  margin-left: 5vw;
}

.postar form{
  /* max-width: 25vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postar p{
  font-family: "Gabriela", serif;
  color: white;
  font-size: 20px;
}

.postar textarea{
  border: solid;
  border-color: #A91D3A;
  color: #A91D3A;
  font-family: "Gabriela";
  font-size: 18px;
}

.postar input{
  border: solid;
  border-color: #A91D3A;
}

.postar button{
  margin-top: 10px;
  border-radius: 16px;
  border: solid;
  border-color: #A91D3A;
  font-family: "Gabriela",serif;
  font-size: 16px;
  font-weight: bold;
}

.comentarios{
  width: 45vw;
  margin-right: 5vw;
}